[submodule "Learn-Quantum-Computing-with-Python-and-IBM-Quantum-Experience"]
	path = Learn-Quantum-Computing-with-Python-and-IBM-Quantum-Experience
	url = https://github.com/PacktPublishing/Learn-Quantum-Computing-with-Python-and-IBM-Quantum-Experience.git
